label {
  margin-right: 20px;
  vertical-align: top;
}

input[type="text"] {
  padding: 5px;
}

td {
  white-space: nowrap;
}

textarea {
  width: 200px;
  height: 100px;
}

#tardySettings input[type="text"] {
  width: 20px;
}

#tardySettings .long {
  width: 250px !important;
}
#tardySettings textarea {
  width: 400px;
  height: 100px;
}

#tardySettings td {
  margin: 30px;
}

.ui-button {
  cursor: pointer !important;
}
